# 排除的目录
test_bed/
slides/
output/
Core Content Q&A/
.vscode/
src/ResNet-50_Fine-Tuning/checkpoints/
src/From_Word_to_Sentence/model-checkpoint/
src/From_Word_to_Sentence/results/
src/Multimodal/__pycache__/
src/Multimodal/model-checkpoint/
src/Multimodal/results/
src/Multimodal/example_data/
src/Multimodal/logs/
src/Multimodal/data/

# 系统文件
.DS_Store
*.DS_Store
